@charset "ISO-8859-1";

.container {
	display: flex;
	flex-direction: column;
}

table {
	text-align: center;
	border-collapse: collapse;
	width: 50%;
}

th {
	border: 1px solid black;
}

td {
	border: 1px solid black;
}

header {
	display: flex;
	align-items: baseline;
	justify-content: space-around;
}